* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Work Sans", sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; /*centaliza o formulário*/
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  width: 100px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

p {
  margin-bottom: 15px;
  font-weight: bold;
}

form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 100px;
}

fieldset {
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

textarea {
  min-width: 100px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[type="color"] {
  width: 40px;
  padding: 0 5px;
}

input[type="text"]:invalid,
input[type="number"]:invalid {
  border-color: red;
}

input[type="text"]:valid,
input[type="number"]:valid {
  border-color: green;
}

/* ou
input:invalid, select:invalid, textarea:invalid
sem especificar oq ue é requerido ou não.*/

input[type="tel"]{
    margin: 0;
}

small{
    display: inline-block;
    margin-bottom: 20px;
}

button {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: green;
  color: #ffffff;
}

button[type="reset"]:hover {
  background-color: orangered;
  color: #ffffff;
}
